<template>
  <div class="container">
    <div id="hotel-selected">
      <div v-if="hotel === null" class="alert alert-danger" role="alert">
        Ошибка!!!<br> Вернуться на <a href="/">главную страницу</a>
      </div>
      <div v-else class="alert alert-info" role="alert">
        Спасибо за использование нашего сервиса. Ваше бронирование в <span
        class="hotel-selected">{{ hotel.name }}</span> подтверждено.<br>
        Вернуться на <a href="/">главную страницу</a>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    name: "hotel-selected",
    data: function () {
      return {
        hotel: null,
        localStorageIndex: "vue-local-hotel-selected"
      }
    },
    created: function () {
      let p = localStorage.getItem(this.localStorageIndex);
      if (p !== undefined)
        this.hotel = JSON.parse(p);
    }
  }
</script>

<style lang="scss">
  .hotel-selected {
    color: #42b983;
    font-weight: bold;
  }
  #hotel-selected{
    margin-top: 30px;
  }

</style>
