<template>
  <div class="container">
    <div id="hotel">
      <h2>{{ msg }}</h2>
      <div v-if="listHotels !== null" class="alert alert-secondary alert-filter-block" role="alert">
        <div class="row">
          <div class="col-md-2 my-auto">Цена от</div>
          <div class="col-md-4"><input class="form-control" :min="minPrice" :max="maxPrice" type="number"
                                       v-model="minPriceInput"></div>
          <div class="col-md-2 my-auto">до</div>
          <div class="col-md-4"><input class="form-control" :min="minPrice" :max="maxPrice" type="number"
                                       v-model="maxPriceInput"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" v-if="minPriceInput !== minPrice || maxPriceInput !== maxPrice">
          <div class="alert alert-warning alert-dismissible alert-filter" role="alert">
            Цена от {{minPriceInput}} до {{maxPriceInput}}
            <button type="button" class="close" v-on:click="removeFilter">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table" v-if="listHotelsFilter === null || listHotelsFilter.length !== 0">
        <tr>
          <th scope="col">№</th>
          <th scope="col">Название</th>
          <th scope="col">Цена за сутки</th>
          <th>Действие</th>
        </tr>
        <tr v-for="(hotel,index) in listHotelsFilter" :key="hotel.id">
          <th scope="row">{{ (index+1) }}</th>
          <td>{{ hotel.name }}<span class="hotel-selected" v-if="hotel.selected">&nbsp;(Текущий выбор)</span></td>
          <td class="my-auto"><span class="price">{{ hotel.price }}&nbsp;&#8381</span></td>
          <td><a class="btn btn-outline-success" v-on:click="hotelSelect(hotel)">Выбрать</a></td>
        </tr>
      </table>
      <div v-if="listHotelsFilter === null || listHotelsFilter.length === 0" class="alert alert-danger" role="alert">
        {{ infoMsgFilterNull }}
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'hotel',
    data() {
      return {
        msg: "Список отелей",
        infoMsgFilterNull: "Нет данных для отображения",
        listHotels: null,
        maxPriceInput: null,
        minPriceInput: null,
        localStorageName: "vue-local-hotels",
        localStorageIndex: "vue-local-hotel-selected"
      }
    },
    methods: {
      hotelSelect: function (hotel) {
        localStorage.setItem(this.localStorageIndex, JSON.stringify(hotel));
        this.listHotels.forEach((item) => {
          if (item.id === hotel.id)
            item.selected = true;
          else
            item.selected = false;
        });
        document.location.href = "/hotel-selected.html";
      },
      removeFilter: function () {
        this.maxPriceInput = null;
        this.minPriceInput = null;
      },
      getListHotels: function () {
        let self = this;
        axios.get("src/ListHotels.json")
          .then((response) => {
            self.listHotels = JSON.parse(response.request.response);
            localStorage.setItem(this.localStorageName, response.request.response)
          })
          .catch((error) => {
            console.log(error);
          })
          .finally(() => {
          });
      }
    },
    computed: {
      minPrice: function () {
        let min = 0;
        if (this.listHotels !== null) {
          min = this.listHotels[0].price;
          this.listHotels.forEach((item) => {
            if (item.price < min)
              min = item.price;
          });
        }
        return min;
      },
      maxPrice: function () {
        let max = 0;
        if (this.listHotels !== null) {
          max = this.listHotels[0].price;
          this.listHotels.forEach((item) => {
            if (item.price > max)
              max = item.price;
          });
        }
        return max;
      },
      listHotelsFilter: function () {
        let list = null;
        let index = null;
        if (localStorage.getItem(this.localStorageIndex) !== null && localStorage.getItem(this.localStorageIndex) !== undefined)
          index = JSON.parse(localStorage.getItem(this.localStorageIndex));
        let id = null;
        console.log(index);
        if (index !== null && index !== undefined && ('id' in index))
          id = index.id;

        if (this.minPrice !== null && this.maxPrice) {
          if (this.minPriceInput === null || this.minPriceInput.length === 0) this.minPriceInput = this.minPrice;
          if (this.maxPriceInput === null || this.maxPriceInput.length === 0) this.maxPriceInput = this.maxPrice;
          list = this.listHotels.filter((item) => {
            if (id !== null && parseInt(item.id) === parseInt(id)) {
              item['selected'] = true;
            } else
              item['selected'] = false;
            return this.minPriceInput <= item.price && item.price <= this.maxPriceInput
          });
        }
        return list;
      }
    },
    created: function () {
      if (localStorage.getItem(this.localStorageName) !== undefined && localStorage.getItem(this.localStorageName) !== null)
        this.listHotels = JSON.parse(localStorage.getItem(this.localStorageName));
      else
        this.getListHotels();
    }
  }
</script>

<style lang="scss">
  .alert-filter {
    padding: 2px 4px;
    color: #333333;
  }

  .alert-filter-block {
    background-color: rgba(66, 185, 131, .03);
    border-color: #42b983;
  }

  .alert-filter .close {
    padding: 2px 4px;
  }

  span.price, .hotel-selected {
    color: #42b983;
    font-weight: bold;
  }

</style>
